arff==0.9
contourpy==1.1.1
cycler==0.12.1
dataclasses==0.6
ete3==3.1.3
fonttools==4.43.1
iniconfig==2.0.0
joblib==1.3.2
kiwisolver==1.4.5
lark-parser==0.12.0
matplotlib==3.8.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.1
packaging==23.2
pandas==2.1.2
patsy==0.5.3
Pillow==10.1.0
pluggy==1.3.0
pyaml==23.9.7
pydot==1.4.2
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
scikit-learn==1.3.2
scikit-optimize==0.9.0
scipy==1.11.3
seaborn==0.13.0
setuptools==68.0.0
six==1.16.0
scikit-learn
statsmodels==0.14.0
sympy==1.12
threadpoolctl==3.2.0
tqdm==4.66.1
tzdata==2023.3
wheel==0.37.1
